<launch>  
    <node pkg="rosapi" exec="rosapi_node" name="rosapi_node">
        <param name="topics_glob" value="[*]" />
        <param name="services_glob" value="[*]" />
        <param name="params_glob" value="[*]" />
    </node>
    
    <node pkg="rosbridge_server" exec="rosbridge_websocket" name="rosbridge_websocket">
        <param name="use_compression" value="true" />
        <param name="send_action_goals_in_new_thread" value="true" />
    </node>
    <node pkg="tf2_web_republisher" exec="tf2_web_republisher_node" name="tf2_web_republisher_node"></node>

    <node pkg="pointcloud_downsampler" exec="downsampler" name="pointcloud_downsampler">
        <remap from="input" to="/head_front_camera/depth_registered/points" />
        <remap from="output" to="/head_front_camera/depth_registered/points_downsampled" />
    </node>

    <node pkg="web_robot_control" exec="server" name="web_robot_control_server">
        <param name="port" value="8080" />
        <param name="host" value="0.0.0.0" />
        <param name='config' type="str" value="$(command 'cat $(find-pkg-share web_robot_control)/config/config.yaml')"/>
    </node>

    <node pkg="web_robot_control" exec="mesh_publisher" name="mesh_publisher">
        <param name="mesh_resource" value="package://web_robot_control/meshes/pal_office_clean.dae" />
        <param name="topic" value="/web_robot_control/world_mesh" />
        <param name="pose" value="[0.0, 0.0, -0.01, 0.0, 0.0, 0.0, 1.0]" />
    </node>
</launch>
